<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-8 mb-6 text-center">
<h2 class="mb-6">SerZ VHS TestServer</h2>
<div class="row feature-stamp">

  <div class="col-sm-6 mb-3 mb-md-0">
  <div class="card" style="min-height:250px;">
  <div class="card-body">
    <h5 class="card-title">Browserüberprüfung</h5>
    
    <div id="browserbutton" class="btn btn-primary" style="margin-bottom:25px;">Überprüfe Browser</div>

    <p class="card-text" style="margin-bottom:25px;"> Klicken um Prüfung zu starten </p>

    <div id="browsercheck" class="card-text"><span id="browsercheckspan"></span></div>
    <canvas id="sinewave2" style="margin-top:10px;"></canvas>
  </div>
  </div>
  </div>

  <div class="col-sm-6">
  <div class="card" style="min-height:250px;">
  <div class="card-body">
  <h5 class="card-title">Geschwindigkeitstest</h5>
    <div id="wrap" class="mt-4"">
      <p class="card-text">
        <button id="testspeed" class="btn btn-primary" data-file="/b/testfile">Speedtest</button>
      </p>
      <p class="card-text">
        <progress style="display:none;" value="0" max="100"></progress>
      </p>
      <p class="card-text">
        <span id="result">kalkuliere Downloadgeschwindigkeit</span><br>
        <span id="eta">Downloadzeit für ~10Mb</span>
      </p>
      <div style="margin-top:25px;" id="empfdiv"><span id="empf" style="color:white;"></span></div>
      <canvas id="sinewave" style="margin-top:10px;">wtf</canvas>
    </div>
  </div>
  </div>
  </div>

</div>
</div>
<script src="/b/js"></script>
<script src="/b/speedtest"></script>
<script src="/b/animation"></script>