<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-8 mb-6 text-center">
<h2 class="mb-6">SerZ VHS TestServer</h2>
<div class="row feature-stamp">

  <div class="col-sm-6 mb-3 mb-md-0">
  <div class="card" style="min-height:250px;">
  <div class="card-body">
    <h5 class="card-title">Browserüberprüfung</h5>
    
    <div id="browserbutton" class="btn btn-primary" style="margin-bottom:25px;">Überprüfe Browser</div>

    <p class="card-text" style="margin-bottom:25px;"> Klicken um Prüfung zu starten </p>

    <div id="browsercheck" class="card-text"><span id="browsercheckspan"></span></div>
    <canvas id="sinewave2" style="margin-top:10px;"></canvas>
  </div>
  </div>
  </div>

  <div class="col-sm-6">
  <div class="card" style="min-height:250px;">
  <div class="card-body">
  <h5 class="card-title">Geschwindigkeitstest</h5>
    <div id="wrap" class="mt-4"">
      <p class="card-text">
        <button id="testspeed" class="btn btn-primary" data-file="/b/testfile">Speedtest</button>
      </p>
      <p class="card-text">
        <progress style="display:none;" value="0" max="100"></progress>
      </p>
      <p class="card-text">
        <span id="result">kalkuliere Downloadgeschwindigkeit</span><br>
        <span id="eta">Downloadzeit für ~10Mb</span>
      </p>
      <div style="margin-top:25px;" id="empfdiv"><span id="empf" style="color:white;"></span></div>
      <canvas id="sinewave" style="margin-top:10px;">wtf</canvas>
    </div>
  </div>
  </div>
  </div>

</div>
</div>
<<<<<<< HEAD
<script src="/b/js"></script>
<script src="/b/speedtest"></script>
<script src="/b/animation"></script>
=======
<div id="browsercheck"></div>
<script>

// Opera 8.0+
var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

// Firefox 1.0+
var isFirefox = typeof InstallTrigger !== 'undefined';

// Safari 3.0+ "[object HTMLElementConstructor]" 
var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));

// Internet Explorer 6-11
var isIE = /*@cc_on!@*/false || !!document.documentMode;

// Edge 20+
var isEdge = !isIE && !!window.StyleMedia;

// Chrome 1 - 79
var isChrome = !!window.chrome && (!!window.chrome.webstore || !!window.chrome.runtime);

// Edge (based on chromium) detection
var isEdgeChromium = isChrome && (navigator.userAgent.indexOf("Edg") != -1);

// Blink engine detection
var isBlink = (isChrome || isOpera) && !!window.CSS;


var output = 'Velis BrowserTester <br> written in plain Javascript !<hr>';


output += 'isFirefox: ' + isFirefox + '<br>';
output += 'isChrome: ' + isChrome + '<br>';
output += 'isSafari: ' + isSafari + '<br>';
output += 'isOpera: ' + isOpera + '<br>';
output += 'isIE: ' + isIE + '<br>';
output += 'isEdge: ' + isEdge + '<br>';
output += 'isEdgeChromium: ' + isEdgeChromium + '<br>';
output += 'isBlink: ' + isBlink + '<br>';

//document.getElementById("browsercheck").innerHTML += output;


var velisBrowserCheck = function browserChecker(){
	if(isFirefox){
		output += 'Sie verwenden Firefox: ' + isFirefox + '<br>';
	} else if(isChrome){
		output += 'isChrome: ' + isChrome + '<br>';
	} else {
		output += 'Sie verwenden keinen unterstützten Browser' + '<br>' + 'Bitte verwenden Sie eine aktuelle Version von Firefox oder Chrome, vielen Dank';
	}
}

document.getElementById("browsercheck").innerHTML += output;

</script>
>>>>>>> 7a1558c61dc06ce2247d2d4f2f4d9f361abbcd0e
